- page_title = 'Default structure' if page_title.nil?

%head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %title= page_title
  %meta{:content => "", :name => "description"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %link{:rel => "stylesheet", :href => "dist/styles/main.min.css"}/